In [8]:
import pandas as pd

In [3]:
movies = pd.read_csv('.././DATA/ml-25m/ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('.././DATA/ml-25m/ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

ratings.count()

In [41]:
ratings.count()

userId       25000095
movieId      25000095
rating       25000095
timestamp    25000095
dtype: int64

In [5]:
groupratings = ratings.groupby('movieId').rating.mean()
groupratings.head()

movieId
1    3.893708
2    3.251527
3    3.142028
4    2.853547
5    3.058434
Name: rating, dtype: float64

In [42]:
groupratings.count()

59047

In [6]:
result = pd.merge(movies, groupratings, on='movieId')
result.tail(20)

,movieId,title,genres,rating
59027,209121,Adrenalin: The BMW Touring Car Story (2014),Documentary,4.00
59028,209123,Square Roots: The Story of SpongeBob SquarePan...,Documentary,4.00
59029,209129,Destination Titan (2011),Documentary,4.50
59030,209131,Last Days of the Arctic (2011),Documentary,3.50
59031,209133,The Riot and the Dance (2018),(no genres listed),2.50
59032,209135,Jane B. by Agnès V. (1988),Documentary|Fantasy,2.25
59033,209137,The Reward's Yours... The Man's Mine (1969),Western,0.50
59034,209139,Rimsky-Korsakov (1953),Drama,1.00
59035,209141,And They Lived Happily Ever After (1976),Comedy,1.00
59036,209143,The Painting (2019),Animation|Documentary,1.00
59037,209145,Liberté (2019),Drama,1.00
59038,209147,The Carpet of Horror (1962),Crime|Horror,2.25
59039,209151,Mao Zedong 1949 (2019),(no genres listed),3.50
59040,209153,Happy Flight (2008),Comedy|Drama,2.50
59041,209155,Santosh Subramaniam (2008),Action|Comedy|Romance,5.00
59042,209157,We (2018),Drama,1.50
59043,209159,Window of the Soul (2001),Documentary,3.00
59044,209163,Bad Poems (2018),Comedy|Drama,4.50
59045,209169,A Girl Thing (2001),(no genres listed),3.00
59046,209171,Women of Devil's Island (1962),Action|Adventure|Drama,3.00

In [40]:
for index, movie in enumerate(result['title']):
    movie = movie.split()
    movie.pop()
    movie1 = ' '
    movie = movie1.join(movie)
#     print(movie)
    result['title'][index] = movie
result['title']

<ipython-input-40-ee435dc5ac87>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['title'][index] = movie

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
59042                             We
59043             Window of the Soul
59044                      Bad Poems
59045                   A Girl Thing
59046        Women of Devil's Island
Name: title, Length: 59047, dtype: object

In [45]:
result_copy = result
result_copy.head()

,movieId,title,genres,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.893708
1,2,Jumanji,Adventure|Children|Fantasy,3.251527
2,3,Grumpier Old Men,Comedy|Romance,3.142028
3,4,Waiting to Exhale,Comedy|Drama|Romance,2.853547
4,5,Father of the Bride Part II,Comedy,3.058434

In [43]:

result.head()

,movieId,title,genres,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,3.893708
1,2,Jumanji,Adventure|Children|Fantasy,3.251527
2,3,Grumpier Old Men,Comedy|Romance,3.142028
3,4,Waiting to Exhale,Comedy|Drama|Romance,2.853547
4,5,Father of the Bride Part II,Comedy,3.058434

In [46]:
result.to_csv('ratings1.csv', index=False)

## IMDB

In [9]:
imdb_movie = pd.read_csv('.././DATA/title.basics.tsv/data.tsv',sep='\t')
imdb_movie.head()

C:\Users\Vishnu\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [11]:
# for index,i in enumerate(imdb_movie['tconst']):
#     if (i == 'tt4922804'):
#         print(imdb_movie['runtimeMinutes'][index]+" "+imdb_movie['originalTitle'][index])

49 3%

In [10]:
imdb_ratings = pd.read_csv('.././DATA/imdb-title-ratings-data.tsv',sep='\t')
imdb_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1816
1  tt0000002            6.0       233
2  tt0000003            6.5      1572
3  tt0000004            6.1       151
4  tt0000005            6.2      2393

In [11]:
imdb_result = pd.merge(imdb_movie, imdb_ratings, on='tconst')
imdb_result.pop('endYear')
imdb_result.pop('titleType')
imdb_result.pop('isAdult')
# imdb_result.pop('runtimeMinutes')
imdb_result.pop('numVotes')
# imdb_result.pop('startYear')
imdb_result.head(20)

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating
0,tt0000001,Carmencita,Carmencita,1894,1,"Documentary,Short",5.7
1,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short",6.0
2,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,4,"Animation,Comedy,Romance",6.5
3,tt0000004,Un bon bock,Un bon bock,1892,12,"Animation,Short",6.1
4,tt0000005,Blacksmith Scene,Blacksmith Scene,1893,1,"Comedy,Short",6.2
5,tt0000006,Chinese Opium Den,Chinese Opium Den,1894,1,Short,5.1
6,tt0000007,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,1894,1,"Short,Sport",5.4
7,tt0000008,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,1894,1,"Documentary,Short",5.5
8,tt0000009,Miss Jerry,Miss Jerry,1894,40,"Romance,Short",5.8
9,tt0000010,Leaving the Factory,La sortie de l'usine Lumière à Lyon,1895,1,"Documentary,Short",6.9
10,tt0000011,Akrobatisches Potpourri,Akrobatisches Potpourri,1895,1,"Documentary,Short",5.2
11,tt0000012,The Arrival of a Train,L'arrivée d'un train à La Ciotat,1896,1,"Documentary,Short",7.4
12,tt0000013,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,1895,1,"Documentary,Short",5.8
13,tt0000014,The Waterer Watered,L'arroseur arrosé,1895,1,"Comedy,Short",7.1
14,tt0000015,Autour d'une cabine,Autour d'une cabine,1894,2,"Animation,Short",6.2
15,tt0000016,Boat Leaving the Port,Barque sortant du port,1895,1,"Documentary,Short",5.9
16,tt0000017,Italienischer Bauerntanz,Italienischer Bauerntanz,1895,1,"Documentary,Short",4.6
17,tt0000018,Das boxende Känguruh,Das boxende Känguruh,1895,1,Short,5.4
18,tt0000019,The Clown Barber,The Clown Barber,1898,\N,"Comedy,Short",5.3
19,tt0000020,The Derby 1895,The Derby 1895,1895,1,"Documentary,Short,Sport",5.0

In [12]:
imdb_result.to_csv('imdb_ratings.csv',index=False)