# Amazon Data Merging

In [1]:
import pandas as pd

In [11]:
amazon_tv = pd.read_csv('.././Cleaning Script/amazon_tvshow.csv')
amazon_movie = pd.read_csv('.././Cleaning Script/amazon_movie.csv')

## Changing Column Names

In [21]:
amazon_movie = amazon_movie.rename(columns={'Movie Name':'Name','Year of Release':'Year','Maturity Rating':'Age','IMDb Rating_y':'IMDb Rating','tconst':'IMDb id'})
amazon_tv = amazon_tv.rename(columns={'Name of the show':'Name','Year of release':'Year','IMDb rating':'IMDb Rating','Age of viewers':'Age','tconst':'IMDb id','runtimeMinutes':'Running Time'})

In [22]:
amazon_movie.head()

,Name,Language,Running Time,Year,Age,type,platform,IMDb id,genres,IMDb Rating
0,American Pie,English,95,1999,18+,Movie,Amazon Prime,tt0163651,Comedy,7.0
1,Bombshell,English,108,2019,18+,Movie,Amazon Prime,tt11452502,Talk-Show,7.0
2,Love Birds,Tamil,160,1996,All,Movie,Amazon Prime,tt0353675,Romance,5.1
3,Hippi,Telugu,140,2019,18+,Movie,Amazon Prime,tt9251858,"Action,Comedy,Romance",4.9
4,Gandhi Fer Aa Gea,Punjabi,133,2020,13+,Movie,Amazon Prime,tt12059768,"Action,Drama",4.4

In [23]:
amazon_tv.head()

,Name,Year,Language,IMDb Rating,Age,platform,type,IMDb id,Running Time,genres
0,The Marvelous Mrs. Maisel,2017,English,8.7,16+,Amazon Prime,TV Show,tt5788792,57,"Comedy,Drama"
1,Fleabag,2016,English,8.7,18+,Amazon Prime,TV Show,tt5687612,27,"Comedy,Drama"
2,Made in Heaven,2019,Hindi,8.3,18+,Amazon Prime,TV Show,tt6494622,50,"Drama,Romance"
3,Homecoming,2018,English,7.5,16+,Amazon Prime,TV Show,tt0116550,105,"Drama,Family"
4,Modern Love,2019,English,8.0,16+,Amazon Prime,TV Show,tt8543390,32,"Comedy,Romance"

## Changing the Order

In [27]:
amazon_tv = amazon_tv[['IMDb id','Name','type','Running Time','Year','Age','Language','IMDb Rating','genres','platform']]
amazon_movie = amazon_movie[['IMDb id','Name','type','Running Time','Year','Age','Language','IMDb Rating','genres','platform']]

In [26]:
amazon_tv.head()

,IMDb id,Name,type,Running Time,Year,Age,Language,IMDb Rating,genres,platform
0,tt5788792,The Marvelous Mrs. Maisel,TV Show,57,2017,16+,English,8.7,"Comedy,Drama",Amazon Prime
1,tt5687612,Fleabag,TV Show,27,2016,18+,English,8.7,"Comedy,Drama",Amazon Prime
2,tt6494622,Made in Heaven,TV Show,50,2019,18+,Hindi,8.3,"Drama,Romance",Amazon Prime
3,tt0116550,Homecoming,TV Show,105,2018,16+,English,7.5,"Drama,Family",Amazon Prime
4,tt8543390,Modern Love,TV Show,32,2019,16+,English,8.0,"Comedy,Romance",Amazon Prime

In [28]:
amazon_movie.head()

,IMDb id,Name,type,Running Time,Year,Age,Language,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,18+,English,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,18+,English,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,All,Tamil,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,18+,Telugu,4.9,"Action,Comedy,Romance",Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,13+,Punjabi,4.4,"Action,Drama",Amazon Prime

In [32]:
amazon_data = amazon_movie.append(amazon_tv, ignore_index=True)

## Remove Column Language

In [36]:
amazon_data.pop('Language')

0       English
1       English
2         Tamil
3        Telugu
4       Punjabi
         ...
3478    English
3479    English
3480    English
3481    English
3482    English
Name: Language, Length: 3483, dtype: object

In [41]:
amazon_data.head()

,IMDb id,Name,type,Running Time,Year,Age,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,18+,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,18+,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,All,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,18+,4.9,"Action,Comedy,Romance",Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,13+,4.4,"Action,Drama",Amazon Prime

In [43]:
amazon_data.to_csv('Amazon Merged Data.csv',index=False)

In [49]:
amazon_data = pd.read_csv('.././Cleaning Script/Amazon Merged Data.csv')

## Changing Age to different formats

In [50]:
for index,i in enumerate(amazon_data['Age']):
    if(amazon_data['type'][index]=='TV Show'):
        if(i=='18+'):
            amazon_data['Age'][index] = 'TV-MA'
        elif(i=='16+' or i=='13+'):
            amazon_data['Age'][index] = 'TV-14'
        elif(i=='7+'):
            amazon_data['Age'][index] = 'TV-PG'
        else:
            amazon_data['Age'][index] = 'TV-G'
    else:
        if(i=='18+'):
            amazon_data['Age'][index] = 'R'
        elif(i=='16+' or i=='13+'):
            amazon_data['Age'][index] = 'PG-13'
        elif(i=='7+'):
            amazon_data['Age'][index] = 'PG'
        else:
            amazon_data['Age'][index] = 'G'
amazon_data.head()

C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'R'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'G'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'PG-13'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'PG'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'TV-14'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'TV-MA'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'TV-G'
C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3079707921.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Age'][index] = 'TV-PG'

,IMDb id,Name,type,Running Time,Year,Age,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,R,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,R,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,G,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,R,4.9,"Action,Comedy,Romance",Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,PG-13,4.4,"Action,Drama",Amazon Prime

In [52]:
amazon_data.head()

,IMDb id,Name,type,Running Time,Year,Age,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,R,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,R,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,G,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,R,4.9,"Action,Comedy,Romance",Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,PG-13,4.4,"Action,Drama",Amazon Prime

## Removing unnecesary genres

In [54]:
for index,i in enumerate(amazon_data['genres']):
    if(len(i)==1):
        continue;
    else:
        i = i.split(',')
        amazon_data['genres'][index] = i[0]
amazon_data.head()

C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/1515170779.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['genres'][index] = i[0]

,IMDb id,Name,type,Running Time,Year,Age,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,R,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,R,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,G,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,R,4.9,Action,Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,PG-13,4.4,Action,Amazon Prime

## Changing \N to N/A in running time

In [60]:
for index,i in enumerate(amazon_data['Running Time']):
    if(i=="\\N"):
        amazon_data['Running Time'][index] = 'N/A'
        
amazon_data.head()

C:\Users\Vishnu\AppData\Local\Temp/ipykernel_9704/3995681599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data['Running Time'][index] = 'N/A'

,IMDb id,Name,type,Running Time,Year,Age,IMDb Rating,genres,platform
0,tt0163651,American Pie,Movie,95,1999,R,7.0,Comedy,Amazon Prime
1,tt11452502,Bombshell,Movie,108,2019,R,7.0,Talk-Show,Amazon Prime
2,tt0353675,Love Birds,Movie,160,1996,G,5.1,Romance,Amazon Prime
3,tt9251858,Hippi,Movie,140,2019,R,4.9,Action,Amazon Prime
4,tt12059768,Gandhi Fer Aa Gea,Movie,133,2020,PG-13,4.4,Action,Amazon Prime

In [61]:
amazon_data.to_csv('Amazon_Cleaned.csv',index=False)